In [3]:
import pandas as pd
# log_df = pd.read_csv('../data/raw/training_set/log_0_20180715_000000000000.csv')
log_df = pd.read_csv('../data/raw/data/training_set/log_mini.csv')
log_df

,session_id,session_position,session_length,track_id_clean,skip_1,skip_2,skip_3,not_skipped,context_switch,no_pause_before_play,...,long_pause_before_play,hist_user_behavior_n_seekfwd,hist_user_behavior_n_seekback,hist_user_behavior_is_shuffle,hour_of_day,date,premium,context_type,hist_user_behavior_reason_start,hist_user_behavior_reason_end
0,0_00006f66-33e5-4de7-a324-2d18e439fc1e,1,20,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,False,False,False,True,0,0,...,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
1,0_00006f66-33e5-4de7-a324-2d18e439fc1e,2,20,t_9099cd7b-c238-47b7-9381-f23f2c1d1043,False,False,False,True,0,1,...,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
2,0_00006f66-33e5-4de7-a324-2d18e439fc1e,3,20,t_fc5df5ba-5396-49a7-8b29-35d0d28249e0,False,False,False,True,0,1,...,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
3,0_00006f66-33e5-4de7-a324-2d18e439fc1e,4,20,t_23cff8d6-d874-4b20-83dc-94e450e8aa20,False,False,False,True,0,1,...,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
4,0_00006f66-33e5-4de7-a324-2d18e439fc1e,5,20,t_64f3743c-f624-46bb-a579-0f3f9a07a123,False,False,False,True,0,1,...,0,0,0,True,16,2018-07-15,True,editorial_playlist,trackdone,trackdone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167875,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,16,20,t_360910e8-2a84-42b0-baf1-59abcf96a1f2,False,False,False,True,0,1,...,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone
167876,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,17,20,t_aa2fff77-9b0a-4fa3-a685-ecef50310e8a,False,False,False,True,0,1,...,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone
167877,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,18,20,t_f673e1b7-4ebe-4fc1-ac24-a9f25de70381,False,False,False,True,0,1,...,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone
167878,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,19,20,t_e172e8e7-7161-42a9-acb0-d606346c8f87,False,False,False,True,0,1,...,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone
167879,0_0eaeef5d-25e9-4429-bd55-af15d3604c9f,20,20,t_77977dd6-597e-4425-8f8f-4efb32ecfba6,False,False,False,True,0,1,...,0,0,0,False,13,2018-07-15,True,user_collection,trackdone,trackdone

In [9]:
kmean100_df = pd.read_csv('../data/interim/all_data/mbKMeans100clusters.csv', usecols=['track_id','clus'])
kmean100_df.rename(columns={'track_id':'track_id_clean'}, inplace=True)

In [11]:
log_df_1 = log_df.loc[log_df['session_position']<(log_df['session_length']/2)]
log_df_1 = log_df_1[['session_id','track_id_clean','skip_2']].merge(kmean100_df)
log_df_1

,session_id,track_id_clean,skip_2,clus
0,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,False,66
1,0_012b0fb4-0cc3-429f-9a78-cc6e622153fb,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,False,66
2,0_01f86af2-cf48-42a6-9bf8-adb91f072909,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,True,66
3,0_02340c3b-c370-4c98-b759-87be85e11aa3,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,True,66
4,0_02a8ebbd-5a12-4343-a7da-2ea912102f90,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,False,66
...,...,...,...,...
75119,0_0ead11fc-f32c-4eb4-8fc1-15b51432a404,t_983dae53-52f3-4fa1-9cc2-7e05d3609b20,True,52
75120,0_0ead11fc-f32c-4eb4-8fc1-15b51432a404,t_3003a1ca-009d-44f9-b981-8fbe94997c10,True,40
75121,0_0ead11fc-f32c-4eb4-8fc1-15b51432a404,t_c6d511e7-d986-4614-b694-ace9df48a665,True,20
75122,0_0eae096d-ae4c-4556-8227-0f6294958330,t_07e08679-899e-4dcd-8822-b283dbdb6f83,False,81
75123,0_0eae096d-ae4c-4556-8227-0f6294958330,t_3a9183ba-ee90-4afd-b54c-0071e6393cc1,False,2

In [8]:
TrackTrackCosSim_mean = pd.read_csv('../models/SVD/similarity/k100_CosSim.csv').drop(columns=['Unnamed: 0'])
TrackTrackCosSim_mean

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,1.000000e+00,-4.469394e-17,-3.462679e-17,1.584455e-17,-1.953365e-17,-1.431039e-17,-3.967287e-17,-3.141594e-17,-1.671510e-17,-4.368006e-17,...,1.075004e-17,-1.945867e-17,-1.841258e-18,-4.049141e-17,-4.838702e-17,-2.696200e-17,-6.875769e-17,2.581705e-18,4.558914e-18,-3.130333e-17
1,-4.469394e-17,1.000000e+00,2.059865e-17,4.146008e-18,-2.343530e-17,-5.713909e-17,5.977200e-18,-1.702204e-17,1.334563e-17,-7.888961e-18,...,-1.724883e-17,-1.943858e-17,-1.219171e-17,-1.593982e-17,-3.284038e-17,-1.809242e-17,-1.035447e-17,-9.846227e-18,1.788369e-18,-1.218061e-17
2,-3.462679e-17,2.059865e-17,1.000000e+00,-1.053909e-17,-5.409486e-17,2.618276e-17,-7.841651e-17,1.284841e-17,-5.168341e-17,-2.051319e-17,...,-2.336821e-17,-1.088836e-17,-3.322225e-17,-1.361673e-18,3.432679e-17,-2.429240e-17,-3.312215e-17,-2.298595e-17,-4.488544e-17,-6.357918e-17
3,1.584455e-17,4.146008e-18,-1.053909e-17,1.000000e+00,-1.607683e-18,2.694665e-18,-1.199422e-17,-7.438144e-18,-3.806949e-17,1.123058e-17,...,-1.775487e-17,-4.274672e-17,-7.479659e-18,3.157628e-18,2.004647e-17,3.005700e-18,-2.537859e-18,4.981587e-19,5.459615e-19,4.008442e-19
4,-1.953365e-17,-2.343530e-17,-5.409486e-17,-1.607683e-18,1.000000e+00,6.416862e-17,-6.914035e-17,-6.786628e-18,-4.645080e-17,-4.888112e-18,...,-8.040371e-17,-3.130074e-18,-2.372048e-17,5.356613e-17,-2.234079e-17,-1.795157e-18,3.403464e-18,-5.830392e-18,-1.749442e-17,-3.562512e-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-2.696200e-17,-1.809242e-17,-2.429240e-17,3.005700e-18,-1.795157e-18,1.894680e-17,-1.689336e-17,-1.075756e-17,-1.970212e-17,-3.055543e-17,...,-1.276395e-18,-2.113943e-18,-3.938838e-17,2.166781e-17,-1.110900e-17,1.000000e+00,-1.917099e-17,-1.347722e-17,5.723139e-18,-2.427714e-17
96,-6.875769e-17,-1.035447e-17,-3.312215e-17,-2.537859e-18,3.403464e-18,-2.207929e-17,-8.269138e-18,-2.232387e-17,-2.538891e-17,-4.410698e-18,...,9.084238e-18,-7.388463e-18,-2.062753e-17,4.071802e-18,-2.129353e-17,-1.917099e-17,1.000000e+00,3.902334e-17,1.361532e-18,-1.586983e-17
97,2.581705e-18,-9.846227e-18,-2.298595e-17,4.981587e-19,-5.830392e-18,-2.279794e-17,9.821745e-19,-1.296004e-17,-2.377577e-17,-2.177263e-17,...,-1.826749e-17,-1.621875e-17,-1.683962e-17,-1.630880e-17,3.248217e-17,-1.347722e-17,3.902334e-17,1.000000e+00,-4.868005e-18,-1.219344e-17
98,4.558914e-18,1.788369e-18,-4.488544e-17,5.459615e-19,-1.749442e-17,-1.966671e-17,-1.444938e-17,-2.669170e-18,-7.195858e-18,-2.260447e-17,...,-6.930964e-17,-1.557672e-17,-2.870686e-17,-2.706872e-17,-1.672199e-17,5.723139e-18,1.361532e-18,-4.868005e-18,1.000000e+00,-7.464360e-17
99,-3.130333e-17,-1.218061e-17,-6.357918e-17,4.008442e-19,-3.562512e-17,-6.079946e-17,-1.717981e-17,1.003398e-17,-1.982754e-17,-4.409583e-17,...,-1.747496e-17,-1.722497e-17,-5.431890e-17,1.327832e-17,1.169435e-17,-2.427714e-17,-1.586983e-17,-1.219344e-17,-7.464360e-17,1.000000e+00

In [34]:
temp_df = log_df_1[log_df_1['session_id']=='0_00006f66-33e5-4de7-a324-2d18e439fc1e']
temp_df

,session_id,track_id_clean,skip_2,clus
0,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_0479f24c-27d2-46d6-a00c-7ec928f2b539,False,66
26,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_9099cd7b-c238-47b7-9381-f23f2c1d1043,False,76
30,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_fc5df5ba-5396-49a7-8b29-35d0d28249e0,False,76
156,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_23cff8d6-d874-4b20-83dc-94e450e8aa20,False,52
165,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_64f3743c-f624-46bb-a579-0f3f9a07a123,False,40
222,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_c815228b-3212-4f9e-9d4f-9cb19b248184,False,56
247,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_e23c19f5-4c32-4557-aa44-81372c2e3705,True,73
250,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_0be6eced-f56f-48bd-8086-f2e0b760fdee,True,23
251,0_00006f66-33e5-4de7-a324-2d18e439fc1e,t_f3ecbd3b-9e8e-4557-b8e0-39cfcd7e65dd,True,40

In [35]:
temp_df['ListenYes'] = (temp_df['skip_2'] == False)*1
temp_df['ListenYes'].replace(0, -1, inplace = True)
temp_df = temp_df.groupby(['session_id', 'clus']).agg({'ListenYes':['sum']})
temp_df = temp_df.reset_index()
temp_df.columns = temp_df.columns.droplevel(level = 1) # take out the unwanted level
temp_df

/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_96237/3263214183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['ListenYes'] = (temp_df['skip_2'] == False)*1
/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_96237/3263214183.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['ListenYes'].replace(0, -1, inplace = True)

                               session_id  clus  ListenYes
0  0_00006f66-33e5-4de7-a324-2d18e439fc1e    23         -1
1  0_00006f66-33e5-4de7-a324-2d18e439fc1e    40          0
2  0_00006f66-33e5-4de7-a324-2d18e439fc1e    52          1
3  0_00006f66-33e5-4de7-a324-2d18e439fc1e    56          1
4  0_00006f66-33e5-4de7-a324-2d18e439fc1e    66          1
5  0_00006f66-33e5-4de7-a324-2d18e439fc1e    73         -1
6  0_00006f66-33e5-4de7-a324-2d18e439fc1e    76          2

In [40]:
temp_df_pivot = pd.pivot_table(temp_df, values = 'ListenYes',index='session_id', columns='clus')

temp_df_pivot.T

session_id  0_00006f66-33e5-4de7-a324-2d18e439fc1e
clus
23                                              -1
40                                               0
52                                               1
56                                               1
66                                               1
73                                              -1
76                                               2

In [87]:
a = TrackTrackCosSim_mean.iloc[(temp_df_pivot.T.index)+1]*temp_df_pivot.values.T

In [88]:
a

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
24,1.153149e-17,6.883765e-18,5.914092e-17,-1.002215e-18,2.923100e-17,2.954921e-17,4.957219e-17,3.026166e-17,4.793534e-17,4.779078e-17,...,-1.287666e-17,7.371306e-18,2.929202e-17,1.731602e-17,2.647203e-17,-3.299467e-18,4.615070e-17,-6.613249e-18,-9.665331e-18,2.758791e-18
41,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,...,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00,-0.000000e+00,0.000000e+00,-0.000000e+00
53,-8.977749e-18,-1.694541e-17,1.827133e-17,-4.109383e-17,-5.677402e-17,-4.235638e-17,-5.759008e-17,-5.289349e-18,2.140787e-17,-1.876135e-17,...,-3.800542e-17,-2.689995e-17,-1.822882e-17,-9.492302e-17,-2.836898e-17,-1.700777e-17,-3.748189e-18,9.052609e-19,4.237534e-19,-5.846773e-17
57,3.479174e-18,-1.860592e-17,7.731315e-18,-3.783540e-18,6.830053e-18,-5.917397e-17,-3.641428e-17,-5.653001e-18,-4.212221e-17,1.444799e-18,...,-6.228631e-17,5.382656e-18,2.217924e-17,-2.321218e-17,-3.579762e-17,5.072123e-18,-7.223267e-18,2.114418e-18,-4.975029e-17,-2.968636e-18
67,-6.664903e-17,-3.344788e-21,-9.347732e-18,-4.257653e-18,-8.470864e-18,-5.060323e-18,2.648266e-18,-1.230411e-17,-1.397678e-18,-1.233557e-17,...,-6.197853e-18,5.462819e-18,-1.214214e-17,-1.009128e-18,-4.314782e-17,-9.028602e-18,-2.550652e-18,-8.084373e-18,-9.027385e-18,-2.647820e-17
74,3.708192e-17,2.469600e-17,2.040485e-17,4.016168e-17,1.925616e-17,9.509948e-18,2.121638e-18,2.584843e-17,1.666594e-20,1.630295e-17,...,-2.230053e-18,-3.375319e-18,2.983020e-17,1.348045e-17,2.867272e-17,2.683134e-17,2.165891e-18,2.250158e-17,4.303903e-18,1.509240e-17
77,-9.785350e-18,1.078511e-17,-1.787623e-17,-1.286916e-17,5.245927e-18,-2.376584e-17,-1.192769e-16,-3.043605e-17,-3.162313e-18,-2.994459e-17,...,-1.739967e-17,-8.369253e-18,-2.551210e-17,2.233861e-17,-1.188521e-17,-2.279525e-17,-1.018468e-17,-6.415757e-18,-6.653090e-17,-6.702498e-17

In [89]:
a.sum()[70:80]

71   -8.112536e-17
72    1.990252e-17
73   -6.058523e-17
74   -5.141893e-17
75   -1.000000e+00
76    7.440549e-17
77   -1.239461e-16
78    2.000000e+00
79   -7.393671e-17
80   -9.825024e-17
dtype: float64

In [78]:
TrackTrackCosSim_mean.iloc[76]

1     -4.772309e-19
2      4.172128e-17
3      1.054532e-17
4      5.534003e-18
5     -2.120809e-17
           ...
96    -1.428707e-17
97     3.491559e-17
98    -8.253637e-19
99     3.986279e-17
100    5.714892e-17
Name: 76, Length: 100, dtype: float64

In [75]:
TrackTrackCosSim_mean.sum()

1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
      ...
96     1.0
97     1.0
98     1.0
99     1.0
100    1.0
Length: 100, dtype: float64

In [86]:
kmean100_df['clus'].max()

99