In [5]:
import pandas as pd

df = pd.DataFrame({'n': [1,3,2,3.5,5, 5,2,3,0.5,1], 'g': ['A','A','A','A','A','B','B','B','B','B'], 'o':[1,2,3,4,5,6,7,8,9,10]})
df

     n  g   o
0  1.0  A   1
1  3.0  A   2
2  2.0  A   3
3  3.5  A   4
4  5.0  A   5
5  5.0  B   6
6  2.0  B   7
7  3.0  B   8
8  0.5  B   9
9  1.0  B  10

In [6]:
df.groupby(['g'])['n','o'].corr()

/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_77128/1981839839.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['g'])['n','o'].corr()

            n         o
g
A n  1.000000  0.886186
  o  0.886186  1.000000
B n  1.000000 -0.839689
  o -0.839689  1.000000

In [7]:
df.groupby(['g'])['n','o'].corr().iloc[0::2,-1]

/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_77128/1207625199.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['g'])['n','o'].corr().iloc[0::2,-1]

g
A  n    0.886186
B  n   -0.839689
Name: o, dtype: float64

In [10]:
dd = pd.DataFrame()
dd['PearsonTrend'] = df.groupby(['g'])['n','o'].corr().iloc[0::2,-1].reset_index(drop=True)

/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_77128/3107584622.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dd['PearsonTrend'] = df.groupby(['g'])['n','o'].corr().iloc[0::2,-1].reset_index(drop=True)

In [11]:
dd

   PearsonTrend
0      0.886186
1     -0.839689

In [14]:
df.groupby(['g'])['n'].mode

AttributeError: 'SeriesGroupBy' object has no attribute 'mode'