In [5]:
import pandas as pd

df = pd.DataFrame({'n': [1,3,2,3.5,5, 5,2,3,0.5,1], 'g': ['A','A','A','A','A','B','B','B','B','B'], 'o':[1,2,3,4,5,6,7,8,9,10]})
df

     n  g   o
0  1.0  A   1
1  3.0  A   2
2  2.0  A   3
3  3.5  A   4
4  5.0  A   5
5  5.0  B   6
6  2.0  B   7
7  3.0  B   8
8  0.5  B   9
9  1.0  B  10

In [28]:
df.groupby(['g'])['n'].mean()

g
A    2.9
B    2.3
Name: n, dtype: float64

In [32]:
df.groupby(['g'])['n','o'].corr().iloc[0::2,-1].reset_index(level = 1, drop=True)

/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_77128/3171291808.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['g'])['n','o'].corr().iloc[0::2,-1].reset_index(level = 1, drop=True)

g
A    0.886186
B   -0.839689
Name: o, dtype: float64

In [34]:
dd = pd.DataFrame()
dd['PearsonTrend'] = df.groupby(['g'])['n','o'].corr().iloc[0::2,-1].reset_index(level = 1, drop=True)
dd

/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_77128/4105736532.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dd['PearsonTrend'] = df.groupby(['g'])['n','o'].corr().iloc[0::2,-1].reset_index(level = 1, drop=True)

   PearsonTrend
g
A      0.886186
B     -0.839689

In [27]:
dd

   PearsonTrend
0      0.886186
1     -0.839689

In [22]:
df.groupby(['g'])['n'].agg(pd.Series.mode).tolist()

ValueError: Must produce aggregated value

In [19]:
pd.Series.mode